@import "variables";
/* OBJECT PAGES */
.object header {
  position:absolute;
  top: 10px;
  width: 100%;
  text-align:center;
  background-color: $darken;
  left:0;
}
.slide.object {padding:0;}
.object object {width: 100%; height: 100%;}
.notes, .temphidden {display: none;}
.slide.object:after {
	content:''; 
	position: absolute;
	top: 3rem;
	right: 0;
	height: 10vw;
	width: 10vw;
	border-radius: 50%;
	background-color:rgba(255,255,255,0.2);
	outline: 1px solid rgba(0,0,0,0.05);
	}
.object img.bytes {
	position: absolute; 
	bottom: 10px; 
	right: 10px; 
	border: 1px solid #ccc;
}
object.enlarge {
	width: 50%;
	transform-origin: top left;
	transform: scale(1.625);
}
