@import "variables";

body { counter-reset: wcag; }

li {counter-increment: count;}
.wcag2 {
ol {
	counter-reset: count; 
	margin: -30px 0;
}
 section {
 	width: 90vw;
 	height: 80vh;
 	overflow: scroll;
 }
 strong {
	background-color: $ilblue; color: white;
	padding: 5px;
}
li {
	list-style: none; text-indent: -2em; padding-left: 2em;
 &:before { 
  content: counter(wcag)  '.' counter(count) '. ';
}
}
p {
  counter-increment: wcag;
 &:before {
  content: counter(wcag) '. ';
}
}
}