@charset "UTF-8";
:root {
  font-size: 162.5%;
  background: #ffffff;
  color: #333; }

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  background: no-repeat url(../instartlogo.svg) #ffffff;
  background-position: 10px 92vh; }

#info {
  font-size: small;
  position: absolute;
  bottom: 0px;
  left: 40%;
  z-index: 500; }

/* optional */
#topinfo {
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 500; }

.key {
  font-weight: bold;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.1); }

#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden; }

.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  transition: transform 1s ease-in-out;
  transform: scale(0.8); }

header, section {
  padding: 10px 20px; }

.slide.far-past {
  display: block;
  margin-left: -200%; }

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -100%; }

.slide.current {
  visibility: visible;
  display: block;
  margin-left: 0; }

.slide.future {
  visibility: visible;
  display: block;
  margin-left: 100%; }

.slide.far-future {
  display: block;
  margin-left: 200%; }

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.25s ease-in-out; }

.slide .counter {
  color: #999999;
  position: absolute;
  left: 20px;
  top: 90%;
  display: block;
  font-size: 0.7rem; }

.slide.title > .counter,
.slide.segue > .counter,
.slide.mainTitle > .counter {
  display: none; }

#presentation-counter {
  display: none; }

#next,
#back {
  z-index: 1000;
  position: absolute;
  bottom: 5px;
  left: 5px;
  list-style-type: none;
  -webkit-appearance: none;
  color: #ddd;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 1rem; }

#next {
  left: auto;
  right: 5px; }

/* Content */
header {
  font-weight: normal;
  letter-spacing: -.05em;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  left: 30px;
  top: 25px;
  font-size: 2rem; }

h1 {
  font-size: 1.8rem;
  margin-bottom: 0px; }

h2 {
  font-size: 1.9rem; }

h1:first-child {
  margin-top: 0; }

section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden; }

footer {
  font-size: 1rem;
  margin: 20px 0 0 30px; }

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
  color: #226DAA; }

a:hover {
  text-decoration: underline; }

pre {
  text-align: left;
  font-size: 0.8rem;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid white; }

pre b {
  font-weight: normal;
  color: #226DAA;
  text-shadow: #226DAA 0 0 1px;
  /*letter-spacing: -1px;*/ }

pre em {
  font-weight: normal;
  font-style: normal;
  color: #226DAA;
  text-shadow: #226DAA 0 0 1px; }

.content {
  font-size: 2rem; }

.content input, button {
  font-size: 2rem; }

.slide textarea.mynotes {
  -webkit-appearance: none;
  border: 1px #aaa solid;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  font-style: italic;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, cursive,serif; }

.slide.intro {
  text-align: center;
  font-size: 2rem; }

.slide.intro header {
  margin-top: 200px; }
  .slide.intro header h1 {
    color: #226DAA;
    justify-content: center;
    padding: 40px 0;
    letter-spacing: 0.25px; }

.slide.section, .slide.intro {
  text-align: center; }

.slide.section, .slide.intro header {
  font-size: 2.5rem; }

.slide li {
  margin-bottom: 10px; }

.slide p {
  font-size: 2rem; }

.force-render {
  display: block;
  visibility: hidden; }

.photocredit {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 5px; }

div.example {
  display: block;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

small {
  display: block;
  font-size: 0.8rem;
  line-height: 1.4;
  opacity: 0.5;
  text-align: left; }

/* OBJECT PAGES */
.object header {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0; }

.slide.object {
  padding: 0; }

.object object {
  width: 100%;
  height: 100%; }

.notes, .temphidden {
  display: none; }

.slide.object:after {
  content: '';
  position: absolute;
  top: 3rem;
  right: 0;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  outline: 1px solid rgba(0, 0, 0, 0.05); }

.object img.bytes {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #ccc; }

object.enlarge {
  width: 50%;
  transform-origin: top left;
  transform: scale(1.625); }

a.pagelink {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FFF;
  background-color: #226DAA;
  padding: 3px 5px 3px 5px;
  border: none;
  color: #ffffff;
  font-size: 1rem; }
  a.pagelink::after {
    content: ' ➫';
    display: inline-block;
    padding-left: 5px; }

.switchletters h1 {
  display: flex;
  text-align: center;
  color: #226DAA;
  justify-content: center;
  padding: 40px 0;
  letter-spacing: 0.25px;
  flex-flow: row wrap; }
.switchletters i {
  position: absolute;
  color: rgba(0, 0, 0, 0.01);
  text-shadow: none; }
.switchletters span {
  padding: 0 5px;
  white-space: nowrap; }
.switchletters h1 span {
  order: 0; }
.switchletters .a:after {
  content: 'y'; }
.switchletters h1:hover .a:after {
  content: "e"; }
.switchletters h1:hover .a:before {
  content: "made "; }
.switchletters h1:hover .c:before {
  content: "with "; }
.switchletters h1:hover .c:after {
  content: " Standards "; }
.switchletters h1:hover .a {
  order: 4; }
.switchletters h1:hover .b {
  order: 1; }
.switchletters .b:after {
  content: 'le'; }
.switchletters h1:hover .b:before {
  content: "  "; }
.switchletters h1:hover .b:after {
  content: "ility and "; }
.switchletters h1:hover .c {
  order: 6; }
.switchletters h1:hover .d {
  order: 2; }

.tweet iframe {
  margin: 100px auto 0 !important;
  font-size: 1.2rem;
  transform: scale(1.65); }

.blind {
  background-color: black; }
  .blind a {
    color: #226DAA;
    background-color: white;
    text-decoration: underline;
    font-size: 0.875rem;
    padding: 4px; }
  .blind p {
    animation: moveclick steps(4, start) 10s infinite; }

@keyframes moveclick {
  0% {
    transform: translate(65vw, 0); }
  50% {
    transform: translate(55vw, 45vh); }
  100% {
    transform: translate(75vw, 90vh); } }
.deaf section {
  width: 100vw;
  text-align: center; }
.deaf iframe {
  margin: auto; }

.deaf h1, .blind h1 {
  color: rgba(0, 0, 0, 0.01);
  text-shadow: none; }

.colorblind {
  background: url(../images/colorblindness.png);
  background-position: center;
  background-size: cover; }

.slide .aria {
  margin-left: 30vw;
  white-space: pre;
  padding: 20vh 0;
  letter-spacing: 0.25px;
  font-size: 8vh; }
  .slide .aria i {
    color: #226DAA;
    padding-right: 0.1rem;
    font-style: normal; }

.graph .arrow {
  display: flex; }
  .graph .arrow div {
    padding: 0 30px; }
    .graph .arrow div.border {
      padding: 0;
      flex: 1 0;
      border-bottom: 10px solid #226DAA;
      position: relative;
      top: -10px; }
      .graph .arrow div.border:after, .graph .arrow div.border:before {
        content: '';
        position: absolute;
        right: -20px;
        bottom: -15px;
        height: 0;
        width: 0;
        border: 10px solid;
        border-color: transparent transparent transparent #226DAA; }
      .graph .arrow div.border:before {
        border-color: transparent #226DAA transparent transparent;
        right: auto;
        left: -20px; }
.graph ul {
  text-align: left;
  display: flex;
  height: 5vh;
  margin: 8vh;
  justify-content: space-around; }
  .graph ul li {
    flex: 1 0 20%; }

.big_piechart {
  position: relative;
  padding: 0;
  height: 80vh;
  width: 100vw;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-image: url(http://chart.googleapis.com/chart?chs=700x394&amp;cht=p&amp;chco=226daa&amp;is3D=true&amp;chd=t:1460,67,77,367,123,193,4&amp;chds=0,1460&amp;chdlp=b&amp;chma=|5); }
  .big_piechart span {
    color: white;
    text-shadow: 1px 1px #333, -1px -1px #333;
    text-align: center;
    font-size: 8vh;
    position: absolute;
    top: 50%;
    left: 44%;
    width: 2em;
    height: 1em; }
  .big_piechart .small_piechart {
    height: 24.43vh;
    width: 24.43vh;
    -webkit-clip-path: circle(48%);
    background-color: #FFF;
    background-position: center;
    background-size: 44vh auto;
    background-image: url(http://chart.googleapis.com/chart?chs=400x225&amp;cht=p&amp;chco=333333&amp;chd=t:416,34,25,113,2,22&amp;chbg=transparent&amp;chds=0,416&amp;chdlp=b&amp;chma=|5); }
  .big_piechart:hover div {
    transform: rotate(-31.5deg);
    height: 44.34vh;
    width: 44.34vh;
    background-size: 80vh auto;
    background-image: url(http://chart.googleapis.com/chart?chs=400x225&amp;cht=p&amp;chco=333333&amp;chd=t:416,34,25,113,2,22&amp;chbg=transparent&amp;chds=0,416&amp;chdlp=b&amp;chma=|5&amp;chp=-.55); }

.hidden_dd {
  margin-top: 0;
  transform: translatey(-1vh);
  max-height: 80vh;
  overflow: scroll; }
  .hidden_dd dt {
    margin-bottom: 0;
    margin-top: 0.2rem;
    width: 60%;
    padding-left: 5px;
    font-weight: bold;
    display: block;
    clear: both;
    color: #ffffff;
    background-color: #226DAA;
    font-size: 1.6rem; }
  .hidden_dd dd {
    position: absolute;
    top: 101vh;
    font-size: 1rem; }
  .hidden_dd dt:hover + dd {
    position: static; }

.halfwidth dd {
  width: 50%; }

body {
  counter-reset: wcag; }

li {
  counter-increment: count; }

.wcag2 ol {
  counter-reset: count;
  margin: -30px 0; }
.wcag2 section {
  width: 90vw;
  height: 80vh;
  overflow: scroll; }
.wcag2 strong {
  background-color: #226DAA;
  color: white;
  padding: 5px; }
.wcag2 li {
  list-style: none;
  text-indent: -2em;
  padding-left: 2em; }
  .wcag2 li:before {
    content: counter(wcag) "." counter(count) ". "; }
.wcag2 p {
  counter-increment: wcag; }
  .wcag2 p:before {
    content: counter(wcag) ". "; }

.svg svg {
  width: 20vw;
  fill: #226DAA; }
.svg ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 50vh;
  width: 90vw;
  margin: 10vh auto; }
.svg .arrow {
  clear: both; }

.thinkoutsidebox .box {
  width: 25vw;
  height: 25vh;
  border: 1vmin solid #226DAA;
  margin: 25vh 25vw; }
  .thinkoutsidebox .box p {
    position: relative;
    top: -20vh;
    right: -20vw;
    border: 1vmin solid #226DAA;
    border-radius: 15rem;
    display: inline-block;
    padding: 1vh 2vw; }
    .thinkoutsidebox .box p:after, .thinkoutsidebox .box p:before {
      content: '';
      position: absolute;
      border-radius: 50%;
      border: 1vmin solid #226DAA;
      background: #ffffff;
      width: 2vw;
      height: 2vw;
      top: 90%;
      left: 10%; }
    .thinkoutsidebox .box p:after {
      top: 130%;
      left: 0%;
      width: 1vw;
      height: 1vw; }

@media print {
  .slide {
    page-break-inside: avoid;
    page-break-after: always;
    visibility: visible !important;
    font-size: 20pt;
    font-family: Arial, sans-serif; }

  @page {
    size: landscape; }
  body {
    font-size: 12pt;
    background: white; }

  header h1 {
    border-top: 2pt solid gray;
    border-bottom: 1px dotted silver; }

  #presentation-counter, #info, #topinfo, .counter {
    display: none; } }

/*# sourceMappingURL=index.css.map */
